<div class="container">
  <h6 style="color: darkorchid">Online banking, also known as internet banking, 
    is an electronic payment system that enables customers of a bank or other financial
     institution to conduct a range of financial transactions through the financial institution's 
     website. The online banking system will typically connect to or be part of the core banking 
     system operated by a bank and is in contrast to branch banking which was the traditional way 
     customers accessed banking services.</h6><br><br><br><br><br>

     <a class="nav-link" 
          [routerLink]="['/logemp']" 
          routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary btn-lg" class="btn btn-info"  >employee</button></a> 
<br><br>
     <a class="nav-link" 
          [routerLink]="['/loguser']" 
          routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary btn-lg" class="btn btn-info">customer</button></a>      
</div>
