<div class="col-md-12">
  <p><strong>Login Page</strong></p>
  
  <form ng-submit="formSubmit()" class="form">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
      </div> 

      <br>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
      </div>

      <br>
      
      <div class="form-group">
          <a class="nav-link" 
          [routerLink]="['/emphome']" 
          routerLinkActive="router-link-active" ><button type="submit" class="btn btn-primary btn-lg" >Login</button></a>      

        <span class="text-danger" style="color:red">{{ error }}</span>
      </div>

    </div>
  </form>
</div>