<div class="card">
    <div class="card-header" 
        [class.bg-success]="course.offer" 
        [class.bg-primary]="!course.offer">
        {{course.name}}
        <a href="#" *ngIf="course.offer" class="badge badge-warning">Offer</a>
      </div>
  <div class="card-body"
       [style.color]="'white'"
       [style.backgroundColor]=
          "course.price > 5000? 'tomato':'goldenrod'">
        
    
    <p class="card-text">Name: {{course.name}}</p>
    <img [src]="course.imgUrl" />
    <p class="card-text">Price: {{course.price}}</p>
    <p class="card-text">Duration: {{course.duration}}</p>
    <p class="card-text">Participants: {{course.participants}}</p>
  </div>
  <div class="card-footer">
      <button class="btn btn-primary" (click)="register(course)">Register</button>
  </div>
</div>
