body {
		background-color: #ffe6b3;
		background-image:url(aboutme.jpg);
		background-repeat:no-repeat;
		background-size:50% 100%;
		background-attachment:fixed;
    	background-position: center; 
		color:#330000;
		height:60%;
		width:30%;
		text-align:center;
		font-family:Gabriola;
		font-size:20px;
		margin-top:150px;
		margin-left:480px;
	}
@media screen and (max-width:1024px) {
	body {
		margin-top:400px;
		margin-left:350px;
		font-size:25px;
	}
}
@media screen and (max-width:768px) {
	body {
		margin-top:400px;
		margin-left:250px;
		font-size:15px;
	}
}
@media screen and (max-width:360px) {
	body {
		margin-top:200px;
		margin-left:120px;
		font-size:10px;
	}
}		