body {
		background-color: #e6ffff;
	}
	header img {
		float:left;
		border-radius: 90%;
		width:150px;
	}
	header {
		font-family:Georgia;
		color:  #b32d00;
		text-align:right;
		}		
		nav h2 a {
			color: #9900cc;
			padding:10px;
			float:left;
			padding-right:30px;
		}
		main.right img{
			
			height:500px;
			width:100%;
		}
		.ab {
			width:100%;
		}
		.footer {
			
			background-color:#000000;
			color:#ffffff;
			text-align:center;
			width:100%;
			height:100px;
		}
		.images img {
			margin-top: 0px;
    		margin-bottom: 0px;
    		margin-right: 100px;
    		margin-left: 70px;
    		border-radius: 50%;
		}
		.i1 {
			width:15%;

		}
		.i2 {
			width:18%;
		}
		.i3 {
			width:20%;
		}
@media screen and (max-width:770px)  {
	header img{
		width:0px;
		padding:0px;
	}
	header {
		font-size:10px;
		text-align:center;
		padding:0px;
	}
	nav h2 a {
		font-size:10px;
		padding:0px;
	}
	.images img {
		width:20%;
		padding:0px;
	}
	main.right img{
			
			height:70%;
			width:100%;
		}
}