<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="v1" class="com.demo.springdemo.Bike"></bean>
        <bean id="emp" class="com.demo.springdemo.Employee">
        	<property name="name" value="Swapna"></property>
        	<property name="age" value="21"></property>
        	<property name="address" ref="addr"></property>
        </bean>	
        <bean id="st" class="com.demo.springdemo.Student">
        	<constructor-arg name="name" value="Swapna"></constructor-arg>
        	<constructor-arg name="roll" value="201"></constructor-arg>
        	<constructor-arg name="address" ref="addr"></constructor-arg>
        </bean>
        <bean name="addr" class="com.demo.springdemo.Address">
        	<property name="state" value="AP"></property>
        	<property name="city" value="sml"></property>
        	<property name="pin" value="123"></property>
        </bean>
        <bean name="d1, d2, d3" class="com.demo.springdemo.Demo" init-method="display">
        </bean>
        
</beans>